body {
	font: normal 12px/20px serif;
	color: #64300A;
	background-color: #F9F4F0;
	margin: 0;
	padding: 0;
}

h1 {
	padding-left: 45px;
	font-size: xx-large;
}

#content {
	margin: 30px auto;
}

.month-calendar {
	width: 141px;
	float: left;
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
	margin-left: 16px;
	border-left: 1px solid #64300A;
	font: normal 12px/20px serif;
	text-align: center;
	background-color: #fff;
}

.month-set { clear: both; }

caption {
	margin: 0;
	padding: 0;
	width: 141px;
	background: #64300A;
	color: white;
	font: bold 12px serif;
	text-align: center;
}

th {
	font: bold 11px/20px serif;
	background: #99C7AE;
	border-right: 1px solid #64300A;
	border-bottom: 1px solid #64300A;
	border-top: 1px solid #64300A;
}

td {
	border-right: 1px solid #64300A;
	border-bottom: 1px solid #64300A;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #E4DABF;
}

